body {
  background: #f7f7f7;
  font-family: Arial;
  margin: 0;
}

.header {
  background: black;
  padding: 20px;
  text-align: center;
  color: white;
}

.app-list {
  padding: 20px;
}

.app-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.7);
}

.popup-content {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}